@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");
*{
  margin: 0;
  padding: 0;
}   
.home{
        background-image: url('img/new.jpg');
        background-repeat: no-repeat;
        height: 100vh;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        
    }
    .nav_bar{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .nav_logo img{
        margin-bottom: -10px;
       
    }
    .menu{
        display: flex;
        align-items: center;
        padding: 10px;
        margin-left: 880px;
        
    }
    .menu ul {
        display: flex;
        
    }
    .menu ul li{
        list-style: none;
        padding: 10px;
        font-family:"poppins",sans-serif;
    }
    .nav_btn{
        display: flex;
        padding: 10px;
    }
    .nav_btn button{
        border-radius: 5px;
        background-color: transparent;
        width: 90px;
        height: 33px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        border: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.351);
       transition: all 0.3s ease 0s;
       cursor: pointer;
      outline: none;
    }
    button:hover {
  background-color: rgb(25, 9, 61);
  box-shadow: 0px 15px 20px rgba(8, 1, 67, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
    /* home page*/

.Home_item h2{
    font-family: "Times New Roman, Times, serif";
    font-size:3rem;  
}
   .Home_item{
    margin-left: 60px;
    margin-top: 200px;
}
/*  bookin css */
.Booking_form{
  width: 90%;
  height: auto;
  display: flex;
  padding:35px;
  justify-content:space-evenly;
  margin-top: 125px;
  margin-left: 45px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.362);
 
}
.book_m{
    margin-top: -10px;
}

.Booking_form input{
    width: 250px;
    height: 35px;
    border-radius: 4px;
    border-style: none;
    
    
}

.Booking_form select{
    width: 300px;
    height: 35px;
    border-radius: 4px;
    border-style: none;
}







.swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
  }
  .swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
  }
  
  .swiper-slide--one span {
    background: #62667f;
  }
  .swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
  }
  
  .swiper-slide p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
  }
  .swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url(img/photo.jpg)
        no-repeat 50% 50% / cover;
        filter: blur();
  }
  @media only screen and (min-width: 481px) and (max-width: 481px)  {
    .home{
      background-image: url('img/new.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      
  }
  .menu{
    list-style: none;
    padding: 10px;
    font-family:"poppins",sans-serif;
    display: none;
}
  }
  