@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");
*{
  margin: 0;
  padding: 0;
}   
.home{
margin-top: -800px;
}   
.nav_bar{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.056);
        border-radius: 6px;
        background-color: white;   
    }
    .side_navbar{
      display: none;
    }
    .nav_logo img{
        margin-bottom: -10px;
        margin-right: 30px;
       
    }
    .menu{
        display: flex;
        align-items: center;
        padding: 10px;
        margin-left: 880px;
        
    }
    .menu ul {
        display: flex;
        
    }
    .menu ul li{
        list-style: none;
        padding: 10px;
        font-family:"poppins",sans-serif;
    }
    .nav_btn{
        display: flex;
       
       
    }
    .nav_btn button{
        border-radius: 5px;
        background-color: transparent;
        width: 90px;
        margin: 4px;
        height: 33px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        border: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.351);
       transition: all 0.3s ease 0s;
       cursor: pointer;
      outline: none;
    }
    button:hover {
  background-color: rgb(25, 9, 61);
  box-shadow: 0px 15px 20px rgba(8, 1, 67, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
    /* home page*/

.Home_item h2{
    font-family: "Times New Roman, Times, serif";
    font-size:3rem;  
}
   .Home_item{
    margin-left: 60px;
    margin-top: 150px;
    color: white;
    
    
}
/*  bookin css */
.Booking_form{
  width: 90%;
  height: auto;
  display: flex;
  padding:35px;
  justify-content:space-evenly;
  margin-left: 45px;
  margin-top: 250px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.362);
 
}
.Booking_form:hover{
  background-color: rgba(0, 0, 0, 0.24);
}
.book_m{
    margin-top: -10px;
}

.Booking_form input{
    width: 250px;
    height: 35px;
    border-radius: 4px;
    border-style: none;
    
    
}

.Booking_form select{
    width: 300px;
    height: 35px;
    border-radius: 4px;
    border-style: none;
}
/* Apply styles to the slider container */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

/* Style the individual slides */
.slide {
  display: none;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Style the navigation buttons if you want to add them */


@media(min-width: 480px) { 
.menu_ul{
  display: none;
}
.side_navbar{
  display: block;
  width: 100%;
  background-color: orange;
}
.side_navbar ul{
  display: flex;
  list-style: none;
  
}
.side_navbar ul li{
  padding: 10px;
}
.menu .nav_btn{
  margin-left: -770px;
}
.nav_logo img{
  margin-left: 530px;
  
 
}
  }
  