body{
 
  

}
.nav_bar{
    display: flex;
    margin-top: -800px;
    align-items: center;
    z-index: 1;
}
.nav_logo img{
    margin-bottom: -20px;
}
.menu{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 950px;
    
}
.menu ul {
    display: flex;
    
}
.menu ul li{
    list-style: none;
    padding: 10px;
}
/* home page*/
.Home img{
    width: 100%;
    z-index: -1;
    margin-top: -200px;
}
