@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");

body{
 
  

}
.nav_bar{
    display: flex;
    margin-top: -800px;
    align-items: center;
    z-index: 1;
}
.nav_logo img{
    margin-bottom: -20px;
    z-index: -1;
}
.menu{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 880px;
    
}
.menu ul {
    display: flex;
    
}
.menu ul li{
    list-style: none;
    padding: 10px;
    font-family:"poppins",sans-serif;
}
/* home page*/
.Home img{
    width: 100%;
    z-index: -1;
    margin-top: -200px;
}
.Home_item h2{
    font-family: "Times New Roman, Times, serif";
    font-size:3rem;  
}
.Home .Home_item{
    margin-left: 20px;
    margin-top: 90px;
}
/*  bookin css */
.Booking_form{
  width: 100%;
  height: auto;
  display: flex;
  padding:35px;
  justify-content:space-evenly;
  margin-left: -50px;
  margin-top: 150px;
 
}

.Booking_form input{
    width: 250px;
    height: 35px;
    border-radius: 4px;
    border-style: none;
    
    
}
.Booking_form select{
    width: 300px;
    height: 35px;
    border-radius: 4px;
    border-style: none;
}
